#parse("header.html")
<div id="main">

    <div class="container" id="daily">
        <div class="jscroll-inner">
            <div class="daily">
                #if ($user)
                    #foreach($vo in $vos)
                    <div class="user-avatar">
                        $!{vo.friend.id}
                        <a href="/user/$!{vo.friend.id}/"><img width="32" class="img-circle" src="$!{vo.friend.headUrl}"></a>
                        $!{vo.friend.username}
                    </div>
                    #end
                #else
                <h3>please login</h3>
                #end
            </div>
        </div>
    </div>
    </div>


#if ($pop)
<script>
window.loginpop = $!{pop};
</script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
#end